<!DOCTYPE html>
<html>
  <head> 
  </head>
  <body>
    <table style="margin: auto; width: 100%; margin: auto; max-width: 500px; padding: 10px;   00border: 3px solid grey; ">
      <tr>
        <td>
          <h1 align="center"> Welcome!</h1>
          
          <p style="margin-top: 10px; text-align: center; font-size: 15px; ">Thanking you to signing up, We hope you enjoy your time to this website.</p>
          
          <p style="text-align: center; "> <a style=" text-align: center; background-color: green; color: white; padding: 8px; margin-top: 50px; margin-bottom: 20px; ">My account</a> </p>
         
          <p style="margin-top: 20px; text-align: center; font-size: 15px; ">If you have query or questions please fill free to ask questions, By just replying to this mail. </p>
          
          <p style="text-align: left; ">XYZ</p>
          <p style="text-align: left; ">By Our Team</p>
        </td>
      </tr>
    </table>
  </body>
</html>
